<%= form_tag 'session', :as => :post do %>
  
  <div class="field">
    <%= label_tag :email %>
    <%= email_field_tag :email %><br />
  </div>
  
  <br />
  
  <div class="actions">
    <%= submit_tag "Login" %>
    <span id="input_text_link"><%= link_to 'Create an account.', signup_path %></span>
  </div>

<% end %>
