<% @user = User.first(:id => session[:user_id]) %>

<% if @user.nil? %>
  <%= link_to "Signup", signup_url, :class => "btn btn-primary pull-right" %>
  
  <%= form_tag 'session', :class => "navbar-form pull-right", :as => :post do %>
    <%= email_field_tag :email, nil, :placeholder => "Email Address" %>
    <%= submit_tag "Login", :class => "btn" %>
  <% end %>

<% else %>
  <%= link_to "Logout", logout_url, :class => "btn btn-small pull-right" %>
  <p class="navbar-text pull-right">Logged in as<b><%= link_to @user.name, @user %></b></p>
<% end %>
