<% @bottles.each do |bottle| %>
  <%= link_to bottle do %>
    <div class="bottle">
      <img src="<%= asset_path('bottles/' + bottle.image_path) %>" />
      
      <div class="price">
        <span><%= bottle.price_string %></span>
      </div>
      
      <div class="name">
        <%= bottle.name %>
      </div>
      
    </div>
  <% end %>
<% end %>
<%= link_to new_bottle_path do %>
  <div class="bottle">
    <img src="<%= asset_path('add_button.png') %>" />
  </div>
<% end %>
