<%= form_for(@bottle) do |f| %>
  <% if @bottle.errors.any? %>
    <br />
    <div class="alert alert-error alert-block">
      <h4><%= pluralize(@bottle.errors.count, "error") %> prohibited this bottle from being saved:</h4>
      <ul>
      <% @bottle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="field">
    <%= f.label :company_id %>
    <%= f.collection_select :company_id, Company.all, :id, :name %>
  </div>
  
  <br />
  
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %><br />
  </div>
  
  <br />
  
  <div class="field">
    <%= f.label :color %>
    <% nailpolish_colors.each do |nailpolish_color| %>
      <label class="radio">
        <%= f.radio_button :color, nailpolish_color %>
        <%= nailpolish_color %>
      </label>
    <% end %>
  </div>
  
  <br />
  
  <div class="field">
    <%= f.label :price %>
    <span class="dollar-sign">$</span>
    <% if @bottle.price.nil? %>
      <%=text_field_tag :price_decimal, nil, :placeholder => "0.00" %>
    <% else %>
      <%=text_field_tag :price_decimal, @bottle.price_string[1..@bottle.price_string.length], :placeholder => "0.00" %>
    <% end %>
    <br />
  </div>
  
  <br />
  
  <div class="actions">
    <%= f.submit :class => "btn" %>
  </div>
<% end %>
