<%= form_for(@bottle) do |f| %>
  <% if @bottle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bottle.errors.count, "error") %> prohibited this bottle from being saved:</h2>

      <ul>
      <% @bottle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_id %><br />
    <%= f.collection_select :company_id, Company.all, :id, :name %>
  </div>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :color %><br />
    <%= f.text_field :color %>
  </div>
  
  <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
