<p id="notice"><%= notice %></p>

<% @user = User.first(:id => session[:user_id]) %>

<div class="accent-wall">
  <div class="container">
    <div class="row">
      <div class="span6 offset3 show-bottle">
        <%= raw bottle_img(@bottle) %>
        
        <h1><%= @bottle.name %></h1>
        <h2>by <%= @bottle.company.name %></h2>
        
        <p>
          <b>Color</b>: <%= @bottle.color %><br />
          <b>Price</b>: <%= @bottle.price_string %>
        </p>
        
        <div class="actions-bottle">
          <%= link_to_own(@user, @bottle) %>
          <a id="actions-selection" class="btn">add to selection</a>
          
          <%= link_to bottles_path, :id => "actions-back", :class => "btn" do %>
            <i class="icon-th"></i>
          <% end %>

          <%= link_to edit_bottle_path(@bottle), :id => "actions-edit", :class => "btn" do %>
            <i class="icon-pencil"></i>
          <% end %>

          <%= link_to @bottle, method: :delete, data: { confirm: 'Are you sure?' }, :id => "actions-delete", :class => "btn" do %>
            <i class="icon-trash"></i>
          <% end %>
        </div>
        
      </div>
      
      <div class="actions-selection-choices span2">
        <div class="triangle"></div>
        <div class="inner">
          <%
            if @user.selections.size == 1
          %>
            <small>You don't have any selections!</small>
            <br />
          <%
            else
              @user.selections.each do |selection|
                if selection.name != "Owned Nail Polishes"
          %>
                <%= link_to selection.name, {:controller => 'selections', :action => 'add_bottle', :selection => selection, :bottle => @bottle } %><br />
          <%
                end
              end
            end
          %>
          
          <br />
          <%= link_to 'New Selection', new_selection_path, :class => "btn" %>
        </div>
      </div>
      
    </div>
  </div>
</div>

<br />

<div class="container">

  <div class="row">
    <div class="span12">
      <h1>Others by <%= link_to @bottle.company.name, @bottle.company %></h1><br />
      <%
        @company = Company.first(:name => @bottle.company.name)
        @bottles = @company.bottles
        @bottles.each do |bottle|
      %>
        <%= render 'bottle', :bottle => bottle %>
      <% end %>
      <%= render 'add' %>
    </div>
  </div>
  
</div>
