<p id="notice"><%= notice %></p>

<p>
  <b>Brand:</b>
  <%= @bottle.company.name %>
</p>

<p>
  <b>Name:</b>
  <%= @bottle.name %>
</p>

<p>
  <b>Color:</b>
  <%= @bottle.color %>
</p>

<p>
  <b>Price:</b>
  <%= get_price(@bottle.price) %>
</p>

<%= link_to 'Edit', edit_bottle_path(@bottle) %> |
<%= link_to 'Back', bottles_path %>
