<p id="notice"><%= notice %></p>

<div class="accent-wall">
  <div class="container">
    <div class="row">
      <div class="span6 offset3 show-bottle">
        <img src="<%= asset_path('bottles/' + @bottle.image_path) %>" />
        
        <h1><%= @bottle.name %></h1>
        <h2>by <%= @bottle.company.name %></h2>
        
        <p>
          <b>Color</b>: <%= @bottle.color %><br />
          <b>Price</b>: <%= @bottle.price_string %>
        </p>
        
        <div class="actions-bottle">
          
          <%
            @user = User.first(:id => session[:user_id])
            if @user.bottles.find(@bottle.id).nil?
          %>
            <%= link_to "own", {:controller => 'users', :action => 'own_bottle', :user => @user, :bottle => @bottle}, :id => "actions-own", :class => "btn" %>
          <% else %>
            <%= link_to "disown", {:controller => 'users', :action => 'own_bottle', :user => @user, :bottle => @bottle}, :id => "actions-own", :class => "btn" %>
          <% end %>
          
          <%= link_to "want", bottles_path, :id => "actions-want", :class => "btn" %>
          
          <%= link_to bottles_path, :id => "actions-back", :class => "btn" do %>
            <i class="icon-th"></i>
          <% end %>

          <%= link_to edit_bottle_path(@bottle), :id => "actions-edit", :class => "btn" do %>
            <i class="icon-pencil"></i>
          <% end %>

          <%= link_to @bottle, method: :delete, data: { confirm: 'Are you sure?' }, :id => "actions-delete", :class => "btn" do %>
            <i class="icon-trash"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<br />

<div class="container">

  <div class="row">
    <div class="span12">
      <h1>Others by <%= @bottle.company.name %></h1><br />
      <%
        @company = Company.first(:name => @bottle.company.name)
        @bottles = @company.bottles
        @bottles.each do |bottle|
      %>
        <%= render 'bottle', :bottle => bottle %>
      <% end %>
    </div>
  </div>
  
</div>
