<div class="row">
  <div class="container">
    <h1>User Settings - <%= @user.name %></h1>
    <p>Please fill out the following information.</p>
    
    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @user.errors.full_messages.each do |msg| %>l
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name %><br />
      </div>
      
      <br />
      
      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name %><br />
      </div>
      
      <br />
      
      <div class="field">
        <%= f.label :email %><br />
        <%= f.text_field :email %><br />
      </div>
      
      <br />
      
      <div class="actions">
        <%= f.submit "Save" %>
        <%= link_to @user, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <input id="delete_account" type="submit" value="Delete Account" />
        <% end %>
      </div>
    <% end %>
  </div>
</div>
