<div class="container">
  <div class="row">
    <div class="span12">
      <h1>Explore Users</h1>
    </div>
  </div>
  
  <% @users.each do |user| %>
    <div class="row">
      <div class="span12">
        <%= link_to user do %>
          <h2><%= user.name %></h2>
        <% end %>
      </div>
    </div>
  <% end %>
  
</div>

<!--<h1>Listing users</h1>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>-->
