<p id="notice"><%= notice %></p>

<div class="accent-wall">
  <div class="container">
    <div class="row">
      <div class="span6 offset3">
        <h1><%= @user.name %></h1>
        <%= link_to edit_user_path(@user), :id => "actions-edit", :class => "btn" do %>
          <i class="icon-pencil"></i>
        <% end %>
        
      </div>
    </div>
  </div>
</div>

<br />

<div class="container">

  <div class="row">
    <div class="span12">
      <h1>Owned Nail Polishes</h1>
      <%
        @user.owned_bottle_ids.each do |bottle_id|
          bottle = Bottle.find(bottle_id)
      %>
        <%= render 'bottles/bottle', :bottle => bottle %>
      <% end %>
    </div>
  </div>
  <br />
  
  <div class="row">
    <div class="span12">
      <h1>Wanted Nail Polishes</h1>
      <%
        @user.wanted_bottle_ids.each do |bottle_id|
          bottle = Bottle.find(bottle_id)
      %>
        <%= render 'bottles/bottle', :bottle => bottle %>
      <% end %>
    </div>
  </div>
  
</div>
