<p id="notice"><%= notice %></p>

<div class="accent-wall">
  <div class="container">
    <div class="row">
      <div class="span6 offset3">
        <h1><%= @user.name %></h1>
        <%= link_to edit_user_path(@user), :id => "actions-edit", :class => "btn" do %>
          <i class="icon-pencil"></i>
        <% end %>
        
      </div>
    </div>
  </div>
</div>

<br />

<div class="container">

  <div class="row">
    <div class="span12">
      <h1>Owned Nail Polishes</h1><br />
      <%
        @user.bottles.each do |bottle|
      %>
        <%= render 'bottles/bottle', :bottle => bottle %>
      <% end %>
    </div>
  </div>
  
</div>

<!--<div class="row">
  <div class="container">
    <h1>
      <%= @user.name %>
      <%= link_to 'Y', edit_user_path(@user) %>
    </h1>
  </div>
</div>

<div class="row">
  <div class="container">
    <h2>Nail Polishes that I Own</h2>
    <% @user.bottles.each do |bottle| %>
      <%= link_to bottle do %>
        <div class="bottle">
          <img src="<%= asset_path('bottles/' + bottle.image_path) %>" />
          
          <div class="price">
            <span><%= bottle.price_string %></span>
          </div>
          
        </div>
      <% end %>
    <% end %>
    <br /><br />
  </div>
</div>-->
