<div class="container">
  <div class="row">
    <div class="span12">
      <h1>Explore Companies</h1>
    </div>
  </div>
  
  <% @companies.each do |company| %>
    <div class="row">
      <div class="span12">
        <%= link_to company do %>
          <h2><%= company.name %></h2>
          <img src="<%= asset_path('companies/' + company.image_path) %>" />
        <% end %>
      </div>
    </div>
  <% end %>
  
</div>

<h1>Listing companies</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= company.name %></td>
    <td><%= link_to 'Show', company %></td>
    <td><%= link_to 'Edit', edit_company_path(company) %></td>
    <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company', new_company_path %>
