<!DOCTYPE html>
<html>
<head>
  <title>Nail Polish Collection</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div id="logo">
    <h1>Varnishes</h1>
    <h2>a nail polish database</h2>
  </div>
  
  <nav>
    <ul>
      <%
        @link_names = [ "Home", "My Bottles", "Explore Bottles", "View All Users" ]
        @link_paths = [ root_path, users_path, bottles_path, users_path ]
        
        @link_names.each do|name|
          @index = @link_names.index(name);
          @path = @link_paths[@index]
          @margin_left = (-4)*(@index +1)*(@index +1) + (9)*(@index +1) + 10
      %>
      
        <%= link_to @path do %>
        <li style="margin-left: <%= @margin_left %>px"><%= name %></li>
        <% end %>
      
      <% end %>
    </ul>
  </nav>
  
  <%
    @user = User.first(:id => session[:user_id])
    if @user
  %>
    <div id="session_info">
      Logged in as
      <%= link_to @user.first_name.concat(' ').concat(@user.last_name), bottles_path %>
      | <%= link_to 'Logout', logout_path %>
    </div>
  <% end %>
</header>

<%= yield %>

</body>
</html>
