<!DOCTYPE html>
<html>
<head>
  <title>Nail Polish Collection</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        
        <%= link_to "Varnishes", root_url, :class => "brand" %>
        
        <ul class="nav">
          <%= raw menu_link_to("Home", "home", "index") %>
          <%= raw menu_link_to("Explore Bottles", "bottles", "index") %>
          <%= raw menu_link_to("Explore Users", "users", "index") %>
        </ul>
        
        <%= render '/session/user' %>
        
      </div>
    </div>
  </div>

  <br />
  
  
  <%= yield %>
  
  <div class="push"></div>
</div>

<%= render '/layouts/footer' %>

</body>
</html>
