<!DOCTYPE html>
<html>
<head>
  <title>Nail Polish Collection - BLAH</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
  
  
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        
        <%= link_to "Selections", {:controller => "selections", :action => "index"}, :class => "brand" %>
        
        <%= render '/layouts/nav' %>
        
        <%= render '/session/user' %>
        
      </div>
    </div>
  </div>

  <br />
  
  
  <%= yield %>
  
  <div class="push"></div>
</div>

<%= render '/layouts/footer' %>

</body>
</html>
